:root {
  --midi-white-fill: #ffe06e;
  --midi-white-stroke: #ffa530;

  --midi-black-fill: #ffc06e;
  --midi-black-stroke: #d16928;
}

canvas {
  position: absolute;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
